<!DOCTYPE html>
<html>
<head> </head>

<body>
<h1>Teams index</h1>

<p>TEAM 1</p>

<form action="">

<select>
  <option value="1">India</option>
  <option value="2">Pakistan</option>
  <option value="3">England</option>
  <option value="4">South Africa</option>
  <option value="5">Australia</option>
  <option value="6">England</option>
  <option value="7">West Indies</option>
  <option value="8">Zimbawe</option>
</select>

<p>Team 2</p>

<select>
  <option value="1">India</option>
  <option value="2">Pakistan</option>
  <option value="3">England</option>
  <option value="4">South Africa</option>
  <option value="5">Australia</option>
  <option value="6">England</option>
  <option value="7">West Indies</option>
  <option value="8">Zimbawe</option>
</select>
<br><br>
<input type="submit">
</form>

</body>

</html>